@import "tailwindcss";

.container {
  max-width: 1440px !important;
  width: 80%;
  margin: auto;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
